[submodule "extern/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "extern/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "extern/freetype2"]
	path = third_party/freetype2
	url = https://github.com/freetype/freetype
[submodule "extern/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "extern/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "extern/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/ImGui"]
	path = third_party/ImGui
	url = https://github.com/qulop/ImGui
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "third_party/shaderc"]
	path = third_party/shaderc
	url = https://github.com/google/shaderc.git
[submodule "third_party/xxHash"]
	path = third_party/xxHash
	url = https://github.com/qulop/xxHash.git
[submodule "third_party/vma"]
	path = third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest
