CMakeSettings.json

# IDE's folders
build/
out/
.vscode/
.vs/
.idea/
cmake-build-*/
venv/

# logs
logs/
log-from_*.txt

# MSVC extensions
*.ilk
*.pdb

# Temporarily (or permanently) deleted files
scripts/afterbuild.py
scripts/ruby_parser.py

# Other
__pycache__

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app